<app-main-navigation></app-main-navigation>

<div class="container" *ngIf="newsView$ | async as view">
  <button
    (click)="setPage(1)"
    [disabled]="view.nbPages  - 1 === (currentPageIndex$ | async)"
  >
    next
  </button>
  <br>
  <button
    (click)="setPage(-1)"
    [disabled]="disablePrevious$ | async"
  >
    prev
  </button>

  <div class="col-md-3">Show Results:
    <button class="btn btn-light"
            *ngFor="let pageSize of pageSizes"
            [ngClass]="{'active': pageSize === selectedButton}"
            (click)="setPageSize(pageSize)"
    >
      {{ pageSize }}
    </button>
  </div>


  <div class="table-responsive">
    <table class="table mb-0"
           *ngIf="view">
      <thead>
      <tr>
        <th>objectID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Points</th>
        <th>URL</th>
        <th>Comments</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let news of view.hits">
        <td> {{ news.objectID }} </td>
        <td> {{ news.title }} </td>
        <td>{{ news.author }}</td>
        <td>{{ news.points }}</td>
        <td><a href="{{ news.url }}">{{ news.url }}</a></td>
        <td><a [routerLink]="'/comment'">{{ news.num_comments }}</a></td>
        <td>{{ news.created_at_i | date }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
