<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Hacker News</h1>
    <a mat-list-item [routerLink]="['/prev/0',]">
      <button mat-raised-button>Previous news</button>
    </a>

    <a mat-list-item [routerLink]="['/news/0',]">
      <button mat-raised-button>Actual news</button>
    </a>

    <a mat-list-item [routerLink]="['/poll/0',]">
      <button mat-raised-button>Poll news</button>
    </a>
    <a mat-list-item [routerLink]="['/pollopt/0',]">
      <button mat-raised-button>Pollopt news</button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
