<mat-progress-spinner
  *ngIf="$loading | async"
  [mode]="'indeterminate'">
</mat-progress-spinner>

<div class="mat-elevation-z8">
  <mat-paginator [pageSizeOptions]="[20, 10, 5,]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title</th>
      <td mat-cell *matCellDef="let element">
        <a *ngIf="(element.num_comments !== null && element.num_comments !== 0) ||
        element.story_text !== null"
           [routerLink]="['/comments',
            element.objectID,
            element.num_comments,
            element.title,
            ]"
           routerLinkActive="active"
           ariaCurrentWhenActive="page"
        >
          {{element.title}}
        </a>
        <span *ngIf="(element.num_comments === null || element.num_comments === 0) &&
        element.story_text === null">
          {{element.title}}
        </span>
        <span *ngIf="(element.title === null || element.title === 'null')">
          There is no title for news...(((
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef> Points</th>
      <td mat-cell *matCellDef="let element"> {{element.points}} </td>
    </ng-container>

    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Created date</th>
      <td mat-cell *matCellDef="let element"> {{element.created_at | date}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author</th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> Source link</th>
      <td mat-cell *matCellDef="let element">
        <a
          href="{{element.url}}"
          target="_blank"
        >
          Source</a></td>
    </ng-container>

    <ng-container matColumnDef="num_comments">
      <th mat-header-cell *matHeaderCellDef> Comments</th>

      <td mat-cell *matCellDef="let element">
        {{element.num_comments ? element.num_comments : 0}}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
